{# templates/trajet/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouveau Trajet{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">Créer un nouveau trajet</h1>

            {{ form_start(form) }}
                <div class="form-group form-label">
                    {{ form_label(form.depart) }}
                    {{ form_widget(form.depart, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group form-label">
                    {{ form_label(form.arrivee) }}
                    {{ form_widget(form.arrivee, {'attr': {'class': 'form-control'}}) }}
                </div>

                
                <div class="form-group form-label">
                    {{ form_label(form.temps) }}
                    {{ form_widget(form.temps, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group form-label">
                    {{ form_label(form.observations) }}
                    {{ form_widget(form.observations, {'attr': {'class': 'form-control'}}) }}
                </div>

                <button type="submit" class="btn btn-primary">Enregistrer</button>
            {{ form_end(form) }}

            <a href="{{ path('trajet_list') }}" class="btn btn-link mt-3">Retour à la liste des trajets</a>
        </div>
    </div>
{% endblock %}
